.header {
  height: 6.5rem;
  box-shadow: 0 0.2rem 0.4rem 0 rgba($color: #000000, $alpha: 0.2);

  .wrap {
    max-width: 1450px;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;

    .logo {
      width: 10rem;
      padding: 1em;

      img {
        display: block;
        margin: 0;
        width: 100%;
      }
    }

    .callToActions {
      padding: 1em;
      margin-left: auto;
    }
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    list-style-type: none;

    & + li {
      margin-left: 1em;
    }

    a,span {
      font-size: 1.8rem;
      line-height: 1;
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
}
