.login{
    display: block;
    width: 100%;
    max-width: 40rem;
    margin: 4rem auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem;

    h2{
        font-size: 2.2rem;
        line-height: 1;
        font-weight: 400;
        text-transform: uppercase;
        display: block;
        width: 100%;
        margin: 2rem;
    }
    .btn{
        margin: 2rem;
    }
}