.adminToolbar {
  width: 100%;
  display: flex;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: black;

  ul {
    list-style: none;
    margin: 0;
    margin-left: auto;
    padding: 0;

    li {
      a {
        display: block;
        line-height: 1;
        padding: 0.5rem 1rem;
        color: white;
        transition: all 0.4s ease-in-out;

        &:hover {
          background-color: rgba(255, 255, 255, 0.8);
          color: black;
        }
      }
    }
  }
}
