@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

@media (max-width: 700px) {
  html {
    font-size: 5px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
}

.App,
#root,
.main,
.fullH {
  height: 100%;
}

.wrapper {
  margin: 0 auto;
  height: calc(100% - 6.5rem - 3.8rem);
  max-width: 1450px;
  padding: 0 2rem;
}

a {
  text-decoration: none;
}

a,
a:hover {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: inherit;
}

.controlPanel {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 100%;
  padding: 3rem 0 6rem 25rem;
  border-bottom: 1px solid #d3d3d3;

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 25rem;
    height: 100%;
    z-index: 1;
    border-right: 1px solid #d3d3d3;
  }

  .content {
    padding: 0 10px;
  }
}

.adminLayout {
  height: calc(100% - 6.5rem - 5.8rem - 3.6rem);
}

.dashboardLayout {
  height: calc(100% - 6.5rem - 5.8rem);
}
